<% @memories.each do |memory| %>
  <div>
    <%= link_to memory_path(memory.id) do %>
      <h2><%= memory.title %></h2>
    <% end %>
    <p>DATE:<%= memory.date %></p>
    <% memory.images[0..3].each do |image| %>
      <div>
        <%= image_tag image %>
      </div>
    <% end %>
    <% if memory.movie? %>
      <div>
        <%= video_tag(memory.movie, loop: true, autoplay: true, muted: true, controls: true) %>
      </div>
    <% end %>
    <p>DESCRIPTION:<%= truncate(memory.description, length: 30, omission: '...') %></p>
    <p>Shared by <%= link_to memory.user.nickname, "#" %></p>
  </div>
<% end %>