<h1>思い出を編集する</h1>
<%= form_with model: @memory, id: 'new_memory', local: true do |form| %>
  <% if @memory.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@memory.errors.count, 'error') %>があります</h2>
      <ul>
        <% @memory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :タイトル, class: 'required' %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class='field'>
    <%= form.label :日付, class: 'required' %>
    <%= form.date_select :date, required: true %>
  </div>

  <div class='field'>
    <%= form.label :人物, class: 'required' %>
    <%= form.text_field :person, required: true %>
  </div>

  <div class='field'>
    <%= form.label :場所, class: 'required' %>
    <%= form.text_field :place, required: true %>
  </div>

  <div class='field'>
    <div id='previews'></div>
    <div class='click-upload'>
      <%= form.label :画像, class: 'required' %>
      <%= form.file_field :images, name: 'memory[images][]', data: {index: 0}, required: true %>
    </div>
  </div>

  <div class='field'>
    <div id='previews-movie'></div>
    <%= form.label :動画 %>
    <%= form.file_field :movie, :accept => 'movie/*' %>
  </div>

  <div class='field'>
    <%= form.label :内容, class: 'required' %>
    <%= form.text_area :description, required: true %>
  </div>

  <div class='actions'>
    <%= form.submit '編集する' %>
    <%= link_to 'もどる', memory_path(@memory.id) %>
  </div>
<% end %>
